/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font-family: "Inter", sans-serif;
  --accent-font-family: "Press Start 2P", fantasy;
  --font-weight-text: 410;
  --font-weight-title: 715;
  --bg-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --content-inline-size: clamp(375px, 260.56px + 30.52vw, 700px);
  --header-title-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --header-subtitle-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --image-inline-size: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
  --text-stroke-color: #fff;
  --button-text-color: #fff;
  --contour-color: #000;
  --animation-fill-color: #f00;
  /* --modal-padding: clamp(30px, 43.52px + -0.94vw, 40px);
  --modal-width: clamp(341px, 50vw, 353px); */
  --modal-button-width: clamp(261px, 50vw, 293px)
}
